apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: webirc
resources:
- resources.yaml
- networkpolicy.yaml
replicas:
- name: webirc
  count: 2
images:
  - name: hashbang/webirc
    digest: sha256:5b5d8a7b0e84fa4c5e03643c2feff0ef45a209b5e3613fd98a65a80b30007470
