apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: wkd
resources:
  - github.com/drGrove/docker-wkd/kustomize/advanced?ref=c47ec975fa0a46f5e7671750254380dfa39c6fc2
  - ingress.yaml
patches:
  - target:
      kind: Deployment
      name: wkd
    patch: |-
      - op: add
        path: "/spec/template/spec/containers/0/args/-"
        value: "-m"
      - op: add
        path: "/spec/template/spec/containers/0/args/-"
        value: "hashbang.sh"
images:
  - name: drgrove/wkd
    newTag: v3.0.1@sha256:88c39db5eb40a84f07e15d3f613c2d852e297fae938e6ae8aa83f3778de672ee
  - name: kiwigrid/k8s-sidecar
    newTag: 1.30.11@sha256:91b49e5b6d2fb03e7a9014f8b072d0de199987845b02d96ce458dd9f14e753f5
configMapGenerator:
  - name: benharri-key
    options:
      labels:
        wkd: 'enroll'
    files:
      - files/benharri.asc
  - name: dannygrove-key
    options:
      labels:
        wkd: 'enroll'
    files:
      - files/dannygrove.asc
  - name: lrvick-key
    options:
      labels:
        wkd: 'enroll'
    files:
      - files/lrvick.asc
  - name: kellerfuchs-key
    options:
      labels:
        wkd: 'enroll'
    files: [ files/kellerfuchs.asc ]
  - name: ryan-key
    options:
      labels:
        wkd: 'enroll'
    files:
      - files/ryan.asc

  - name: team-key
    options:
      labels:
        wkd: 'enroll'
    files:
      - files/team.asc
