apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: site
resources:
  - resources.yaml
  - networkpolicy.yaml
replicas:
  - name: site
    count: 2
images:
  - name: hashbang/hashbang.sh
    newTag: latest@sha256:50dfef86d5dd8f82df51e0576a7f2c83cf68fd7428fef57e1f6b4ddaf6cbbbea
