apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonLabels:
    app.kubernetes.io/name: keycloak
resources:
  - ../cloudnative-pg/configurations
  - db.yaml
  - deployment.yaml
  - service.yaml
  - service-account.yaml
  - ingress.yaml
configMapGenerator:
  - name: keycloak-config
    literals:
      - KC_HOSTNAME=https://keycloak.hashbang.sh
      - KC_DB=postgres
      - KC_DB_URL_HOST=userdb-attempt-too-do-user-989073-0.db.ondigitalocean.com
      - KC_DB_URL_PORT=25060
      - KC_DB_URL_DATABASE=keycloak
      - KC_DB_URL_PROPERTIES=?sslmode=require
      - KC_DB_USERNAME=keycloak
      - KEYCLOAK_ADMIN=admin
generators:
  - secret-generator.yaml
images:
  - name: quay.io/keycloak/keycloak
    newTag: 26.5.3@sha256:5a236ae4dd8ece77490115bace15a11a4d15e9cbcf58a490b95a7da2cd71d32a
