apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonLabels:
    app.kubernetes.io/name: keycloak
resources:
  - ../cloudnative-pg/configurations
  - db.yaml
  - deployment.yaml
  - service.yaml
  - service-account.yaml
  - ingress.yaml
configMapGenerator:
  - name: keycloak-config
    literals:
      - KC_HOSTNAME=https://keycloak.hashbang.sh
      - KC_DB=postgres
      - KEYCLOAK_ADMIN=admin
generators:
  - secret-generator.yaml
images:
  - name: quay.io/keycloak/keycloak
    newTag: 26.5.4@sha256:ae8efb0d218d8921334b03a2dbee7069a0b868240691c50a3ffc9f42fabba8b4
