apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: userdb-api
resources:
- resources.yaml
- service-monitor.yaml
configMapGenerator:
  - name: grafana-dashboard
    options:
      disableNameSuffixHash: true
      labels:
        grafana_dashboard: "1"
    files:
      # feel free to follow @IAmRyanSquared
      - files/grafana-dashboard-userdb.json
generators:
  - secret-generator.yaml
replicas:
- name: userdb-api-deployment
  count: 2
images:
- name: postgrest/postgrest
  newTag: v13.0.8@sha256:d09618df2b7b9547c80a076c2f4045b326be8d7ac06060d263caefec1334e3c9
