apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd
resources:
  - github.com/argoproj/argo-cd/manifests/cluster-install?ref=03c4ad854c1e6d922a121cd40f505d9bc6e402da # tag=v3.1.0
  - ingress.yaml
  - argo-cd-service-monitor.yaml
  - deploy-key.yaml
  # Projects
  - projects/default.yaml
  # Applications to deploy
  - applicationset-generator.yaml
patches:
  - path: argocd-notifications-cm.patch.yaml
  - path: argo-cd-repo-server-ksops.patch.yaml
  - path: argo-cd-allow-alpha-plugins.patch.yaml
  - path: argo-cd-import-pgp-key.patch.yaml
  - path: argo-cd-repository-credentials.patch.yaml
  - path: argo-cd-rbac.patch.yaml
  - path: argo-cd-allow-status-badges.patch.yaml
  - path: users.patch.yaml
configMapGenerator:
  - name: argocd-cm
    behavior: merge
    literals:
      # https://argo-cd.readthedocs.io/en/stable/user-guide/resource_tracking/#additional-tracking-methods-via-an-annotation
      - application.resourceTrackingMethod=annotation+label
  - name: grafana-dashboard
    options:
      disableNameSuffixHash: true
      labels:
        grafana_dashboard: "1"
    files:
      # From https://github.com/argoproj/argo-cd/blob/master/examples/dashboard.json
      - files/grafana-dashboard-argocd.json
      # From https://argoproj-labs.github.io/argocd-notifications/grafana-dashboard.json
      - files/grafana-dashboard-argocd-notifications.json
  - name: argocd-gpg-keys-cm
    behavior: merge
    options:
      disableNameSuffixHash: true
    files:
      - gpg-keys/C91A9911192C187A
      - gpg-keys/6785F7AF28DE7081
      - gpg-keys/E90A401336C8AAA9
      - gpg-keys/68907D8BCCD85A5A
      - gpg-keys/B10116B8193F2DBD
      - gpg-keys/26CDD32189AA2885
      - gpg-keys/E6A270B1A4DA649A
images:
  - name: quay.io/argoproj/argocd
    newTag: v3.1.0@sha256:51abf85651c33cfd0645d72e0877eeeae187bb404d4641ec47caa1921c9750be
  - name: ghcr.io/dexidp/dex
    newTag: v2.44.0@sha256:5d0656fce7d453c0e3b2706abf40c0d0ce5b371fb0b73b3cf714d05f35fa5f86
  - name: public.ecr.aws/docker/library/redis
    newTag: 7.2.7-alpine@sha256:ddd16a9b1575a774c7e62956be8daa1de5b32cfb5c25b7a216aefed8e0919f9b
  - name: viaductoss/ksops
    newTag: v4.3.3@sha256:6b5ec4b6144307f78bcddffd8f09020482836eee34cf77bf4ce8614b0452a73c
generators:
  - secret-generator.yaml
replicas:
- name: argocd-server
  count: 2
