apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonLabels:
  app.kubernetes.io/component: controller
resources:
  - ingressclass.yaml
  - rbac.yaml
  - resources.yaml
  - webhook.yaml
images:
  - name: registry.k8s.io/ingress-nginx/controller
    newTag: v1.14.3@sha256:82917be97c0939f6ada1717bb39aa7e66c229d6cfb10dcfc8f1bd42f9efe0f81
