apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: ingress-nginx
resources:
- rbac.yaml
- configmap.yaml
- tcp-services-cm.yaml
- resources.yaml
- webhook.yaml
- ingressclass.yaml
