apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: external-dns
commonLabels:
  app.kubernetes.io/name: external-dns
resources:
- resources.yaml
- networkpolicy.yaml
- service-monitor.yaml
patches:
- path: aws_credentials.yaml
generators:
- secret-generator.yaml
images:
- name: registry.k8s.io/external-dns/external-dns
  newTag: v0.20.0@sha256:ddc7f4212ed09a21024deb1f470a05240837712e74e4b9f6d1f2632ff10672e7
