apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: cert-manager
resources:
- https://github.com/james-callahan/cert-manager-kustomize?ref=28138f3ef61b5f3ca850a6054048ece7c02a7f9a
- ./issuers/
replacements:
- source:
    kind: Deployment
    name: cert-manager-webhook
    fieldPath: metadata.namespace
  targets:
  - select:
      kind: MutatingWebhookConfiguration
    fieldPaths:
    - metadata.annotations.[cert-manager.io/inject-ca-from-secret]
    options:
      delimiter: /
  - select:
      kind: ValidatingWebhookConfiguration
    fieldPaths:
    - metadata.annotations.[cert-manager.io/inject-ca-from-secret]
    options:
      delimiter: /
